/**
 * Smart Plugin Banner
 */

// Internal variables.
$font-size: 14px;
$font-size--mobile: 13px;
$font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
$height: 120px;
$height--mobile: 90px;
$padding: 15px;
$padding--mobile: 10px;
$thumbnail-size: $height - ($padding * 2);
$thumbnail-size--mobile: $height--mobile - ($padding--mobile * 2);
$background-color: #f5f5f5;
$star-size: 15px;
$star-color: #ffb900;
$button-padding: 8px 24px;
$button-padding--mobile: 6px 12px;
$button-color: #fff;
$button-background-color: #0085ba;
$button-border: 1px solid #0073aa #006799 #006799;
$button-border-radius: 3px;
$button-shadow: 0 1px 0 #006799;
$border-text-shadow: 0 -1px 1px #006799, 1px 0 1px #006799, 0 1px 1px #006799, -1px 0 1px #006799;

.smart-plugin-banner {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  background-color: $background-color;
  padding: $padding;
  height: $height;
  z-index: 100000;
  font-size: $font-size;
  line-height: 1.5;
  font-family: $font-family;
  transform: translateY(-100%);
  opacity: 0;
  transition:
    transform 0.3s ease-in-out,
    opacity 0.3s ease-in-out;

  @media screen and (max-width: 782px) {
    padding: $padding--mobile;
    height: $height--mobile;
    font-size: $font-size--mobile;
    line-height: 1.3;
  }
}

.smart-plugin-banner--active {
  transform: translateY(0);
  opacity: 1;
}

.smart-plugin-banner__inner {
  display: flex;
  align-items: center;
}

.smart-plugin-banner__thumbnail {
  margin-right: ($padding * 2);

  img {
    width: $thumbnail-size;
    height: $thumbnail-size;
    max-height: $thumbnail-size;
    max-width: $thumbnail-size;
  }

  @media screen and (max-width: 782px) {
    margin-right: $padding--mobile;

    img {
      width: $thumbnail-size--mobile;
      height: $thumbnail-size--mobile;
      max-height: $thumbnail-size--mobile;
      max-width: $thumbnail-size--mobile;
    }
  }
}

.smart-plugin-banner__info {
  flex-grow: 1;
  overflow: hidden;
}

.smart-plugin-banner__name,
.smart-plugin-banner__author {
  display: block;
  font-weight: 400;
}

.smart-plugin-banner__name {
  font-weight: 700;
}

.smart-plugin-banner__rating {
  display: block;
  margin-top: 5px;

  @media screen and (max-width: 782px) {
    margin-top: 0;
  }
}

.smart-plugin-banner__star {
  display: inline-block;
  width: $star-size;
  height: $star-size;
  background-size: contain;
  background-position: center;
}

.smart-plugin-banner__star--full {
  background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 20 20"><path fill="#{$star-color}" d="M10 1l3 6 6 .75-4.12 4.62L16 19l-6-3-6 3 1.13-6.63L1 7.75 7 7z"/></svg>');
}

.smart-plugin-banner__star--half {
  background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 20 20"><path fill="#{$star-color}" d="M10 1L7 7l-6 .75 4.13 4.62L4 19l6-3 6 3-1.12-6.63L19 7.75 13 7zm0 2.24l2.34 4.69 4.65.58-3.18 3.56.87 5.15L10 14.88V3.24z"/></svg>');
}

.smart-plugin-banner__star--empty {
  background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 20 20"><path fill="#{$star-color}" d="M10 1L7 7l-6 .75 4.13 4.62L4 19l6-3 6 3-1.12-6.63L19 7.75 13 7zm0 2.24l2.34 4.69 4.65.58-3.18 3.56.87 5.15L10 14.88l-4.68 2.34.87-5.15-3.18-3.56 4.65-.58z"/></svg>');
}

.smart-plugin-banner__actions {
  display: flex;
  align-items: center;
}

.smart-plugin-banner__button {
  &,
  &:hover,
  &:focus,
  &:active {
    padding: $button-padding;
    color: $button-color;
    background-color: $button-background-color;
    border: $button-border;
    border-radius: $button-border-radius;
    box-shadow: $button-shadow;
    text-shadow: $border-text-shadow;
    margin-left: ($padding * 2);

    @media screen and (max-width: 782px) {
      padding: $button-padding--mobile;
      margin-left: $padding--mobile;
    }
  }
}

.smart-plugin-banner__close {
  &,
  &:hover,
  &:focus,
  &:active {
    font-size: 24px;
    border: 0;
    background: none;
    padding: 0;
    margin: 0 0 0 $padding;
    line-height: 1;
    color: #000;
    opacity: 0.2;
    transition: opacity 0.3s ease-in-out;

    @media screen and (max-width: 782px) {
      margin: 0 0 0 $padding--mobile;
    }
  }

  &:hover,
  &:focus,
  &:active {
    opacity: 0.6;
  }
}

/**
 * <body> positioning when banner is active.
 *
 * 1. Make sure the banner is below the admin bar (for dropdown items).
 * 2. Move the banner down if the WordPress toolbar is active.
 */

.has-smart-plugin-banner {
  margin-top: $height !important;
}

.has-smart-plugin-banner.admin-bar {
  .smart-plugin-banner {
    z-index: 99998; /* 1 */
    top: 32px; /* 2 */

    @media screen and (max-width: 782px) {
      top: 46px; /* 2 */
    }
  }
}
